@font-face {
  font-family: "Barbie MediumItalic";
  src: url("../fonts/Barbie_MediumItalic/barbie.eot") format("eot"), url("../fonts/Barbie_MediumItalic/barbie.woff") format("woff"), url("../fonts/Barbie_MediumItalic/barbie.ttf") format("truetype"), url("../fonts/Barbie_MediumItalic/barbie.svg#BarbieMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Trebuchet MS";
  src: url("../fonts/Trebuchet_MS/Trebuchet_MS.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-size: 16px;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.wrapper header .conteiner-menu {
  margin-top: 7px;
  background: linear-gradient(to top, #464646, #6c6c6c);
  display: flex;
  justify-content: space-around;
}
.wrapper header .conteiner-menu .menuElements {
  text-decoration: none;
  padding: 0 10px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-family: Arial;
  font-size: 14px;
  color: white;
}
.wrapper header .conteiner-menu nav .menuToggle1 {
  text-decoration: none;
  padding: 0 10px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-family: Arial;
  font-size: 14px;
  color: white;
  display: none;
}
.wrapper header .conteiner-menu nav ul {
  border-left: 1px solid black;
  border-right: 1px solid #585858;
}
.wrapper header .conteiner-menu nav ul li {
  float: left;
  border-left: 1px solid #585858;
  border-right: 1px solid black;
}
.wrapper header .conteiner-menu nav ul li:hover {
  background: #3d3b3b;
}
.wrapper header .conteiner-menu nav ul li a {
  text-decoration: none;
  padding: 0 10px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-family: Arial;
  font-size: 14px;
  color: white;
}
.wrapper header .container {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper header .container .logo {
  text-align: center;
}
.wrapper header .container .logo :first-child {
  text-decoration: none;
  color: #ff004e;
  font-size: 3.5rem;
  font-family: "Barbie MediumItalic";
}
.wrapper header .container .logo .logo-font-min-little {
  text-decoration: none;
  color: #ff004e;
  font-size: 18px;
  font-family: "Barbie MediumItalic";
}
.wrapper header .container .logo span {
  font-family: "Trebuchet MS";
  font-size: 12px;
}
.wrapper header .container form {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-self: flex-start;
  align-items: center;
  margin-top: 5px;
  width: 565px;
}
.wrapper header .container form .search {
  border: 3px solid gray;
  width: 345px;
  border-radius: 10px;
  padding-left: 5px;
}
.wrapper header .container form .search input,
.wrapper header .container form .search button {
  outline: none;
  font-family: Arial;
  font-size: 14px;
}
.wrapper header .container form .search .header-search {
  width: 240px;
  height: 36px;
  border: none;
}
.wrapper header .container form .search button {
  width: 95px;
  height: 34px;
  background-image: linear-gradient(to top, #ff6e3c, #ff0000);
  color: white;
  border-radius: 8px;
  border: 1px solid #b70000;
}
.wrapper header .container form .search button:active {
  background: #b70000;
}
.wrapper header .container form .search button:hover {
  cursor: pointer;
}
.wrapper header .container form .header-download input {
  font-family: "Trebuchet MS";
  font-size: 14px;
  border: none;
  outline: none;
  background: url('../../images/btn-download_new.jpg');
  height: 42px;
  width: 180px;
  border: 3px solid gray;
  border-radius: 10px;
}
.wrapper header .container form .header-download input:active {
  background: url('../../images/btn-download1.jpg');
  border: 3px solid #333232;
}
.wrapper header .container form .header-download input:hover {
  cursor: pointer;
}
.wrapper header .container .social a {
  padding: 10px;
  font-family: "Trebuchet MS";
  font-size: 12px;
}
.wrapper .menu-catalog {
  margin: 10px 10% 0 10%;
}
.wrapper .menu-catalog nav {
  display: flex;
  flex-direction: column;
}
.wrapper .menu-catalog nav .products > :first-child {
  border-radius: 10px 0 0 0;
}
.wrapper .menu-catalog nav .products > :last-child {
  border-radius: 0 10px 0 0;
}
.wrapper .menu-catalog nav .products li {
  float: left;
  border: 1px solid #d3d3d3;
  border-bottom: #3a3a3a;
}
.wrapper .menu-catalog nav .products li:hover {
  background-image: linear-gradient(to top, #3a3a3a, #5c5c5c);
  cursor: pointer;
}
.wrapper .menu-catalog nav .products li:hover a {
  color: white;
}
.wrapper .menu-catalog nav .products li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 6px;
}
.wrapper .menu-catalog nav .sub-product {
  background-image: linear-gradient(to top, #5c5c5c, #3a3a3a);
  border-radius: 0  10px 10px 10px;
}
.wrapper .menu-catalog nav .sub-product li {
  float: left;
}
.wrapper .menu-catalog nav .sub-product li:hover {
  cursor: pointer;
}
.wrapper .menu-catalog nav .sub-product li:hover a {
  color: black;
}
.wrapper .menu-catalog nav .sub-product li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 6px;
}
.wrapper .container-aside-main {
  margin: 15px 130px 0 130px;
  display: flex;
}
.wrapper .container-aside-main aside {
  min-width: 190px;
}
.wrapper .container-aside-main aside p {
  font-family: Arial;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 700;
}
.wrapper .container-aside-main aside ul {
  padding-left: 10px;
}
.wrapper .container-aside-main aside ul li {
  font-family: Arial;
  font-size: 12px;
}
.wrapper .container-aside-main aside ul li a {
  text-decoration: none;
}
.wrapper .container-aside-main aside ul li a:hover {
  color: gray;
}
.wrapper .container-aside-main main {
  width: 840px;
}
.wrapper .container-aside-main main .slaid-banner {
  display: flex;
}
.wrapper .container-aside-main main .slaid-banner .slaid {
  flex: 2 0 10%;
}
.wrapper .container-aside-main main .slaid-banner .slaid .slider_wrap {
  width: 100%;
  height: 97%;
  position: relative;
  overflow: hidden;
}
.wrapper .container-aside-main main .slaid-banner .slaid .slider_wrap img {
  width: 90%;
  height: auto;
  display: none;
  position: absolute;
  top: 0;
  left: 5%;
}
.wrapper .container-aside-main main .slaid-banner .slaid .slider_wrap img:first-child {
  display: block;
}
.wrapper .container-aside-main main .slaid-banner .slaid .slider_wrap span {
  margin-top: -13px;
  width: 15px;
  height: 26px;
  display: block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  background: url(../../images/slider2_arrow.png) no-repeat;
}
.wrapper .container-aside-main main .slaid-banner .slaid .slider_wrap span.next {
  right: 0;
  background-position: -15px 0;
}
.wrapper .container-aside-main main .slaid-banner .slaid .slider_wrap span.next:hover {
  background-position: -15px -26px;
}
.wrapper .container-aside-main main .slaid-banner .slaid .slider_wrap span.prev {
  left: 0;
  background-position: 0 0;
}
.wrapper .container-aside-main main .slaid-banner .slaid .slider_wrap span.prev:hover {
  background-position: 0 -26px;
}
.wrapper .container-aside-main main .slaid-banner .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1 0 0%;
}
.wrapper .container-aside-main main .slaid-banner .banner img {
  padding: 5px 0;
  width: 90%;
}
.wrapper .container-aside-main main .sale {
  background-image: linear-gradient(to top, #8b0901, #f9170a);
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  margin: 40px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper .container-aside-main main .sale span,
.wrapper .container-aside-main main .sale a {
  font-family: "Arial";
  font-style: italic;
  font-size: 1.5rem;
  color: white;
  text-shadow: 3px 2px 3px black;
}
.wrapper .container-aside-main main .sale div {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  text-align: center;
  line-height: 100px;
  background: url('../../images/sale.jpg');
  font-family: "Arial";
  font-size: 30px;
  color: white;
  text-shadow: 3px 2px 3px black;
}
.wrapper .container-aside-main main .banner2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .container-aside-main main .banner2 img {
  border: 3px solid gray;
  border-radius: 10px;
  width: 28%;
}
.wrapper .container-aside-main main .top-sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 3px solid gray;
  border-radius: 10px;
  margin-top: 15px;
}
.wrapper .container-aside-main main .top-sales .top-sales-sticker {
  height: 20px;
  width: 140px;
  background: #b82312;
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 1.2rem;
  text-align: center;
  color: white;
}
.wrapper .container-aside-main main .top-sales .top-sales-sticker:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 20px;
  border-top: 20px solid #b82312;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
}
.wrapper .container-aside-main main .top-sales img {
  border: 3px solid gray;
  border-radius: 10px;
  margin: 60px 1% 10px 1%;
  width: 28%;
}
.wrapper .container-aside-main main .new-products {
  border: 1px solid gray;
  margin-top: 15px;
}
.wrapper .container-aside-main main .new-products p {
  padding: 15px;
  font-family: "Arial";
  font-size: 14px;
  color: #939393;
}
.wrapper .container-aside-main main .new-products .catalog-new-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper .container-aside-main main .new-products .catalog-new-products > div {
  width: 245px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.wrapper .container-aside-main main .new-products .catalog-new-products > div .specifications {
  position: absolute;
  top: 0;
  right: 0;
  width: 105px;
}
.wrapper .container-aside-main main .new-products .catalog-new-products > div .specifications h3 {
  font-family: "Arial";
  font-size: 18px;
  color: #939393;
}
.wrapper .container-aside-main main .new-products .catalog-new-products > div .specifications div {
  font-family: "Arial";
  font-size: 12px;
  margin: 5px;
}
.wrapper .container-aside-main main .new-products .catalog-new-products > div .specifications span {
  font-family: "Arial";
  font-size: 24px;
  color: red;
}
.wrapper .container-aside-main main .mess {
  font-size: 4rem;
  color: #b82312;
  text-align: center;
  padding-top: 40px;
}
.wrapper .container-aside-main main .mess img {
  width: 70%;
  padding-top: 20px;
}
.wrapper footer .tel {
  margin-top: 105px;
  background: #bcbcbc;
  height: 5rem;
  position: relative;
}
.wrapper footer .tel .tel-info {
  padding: 0.2rem 33% 0 0 ;
  text-align: center;
}
.wrapper footer .tel .tel-info span {
  font-family: "Trebuchet MS";
  font-size: 0.875rem;
  color: #737373;
  text-shadow: 1px 1px 1px white;
}
.wrapper footer .tel .tel-info a {
  font-family: "Trebuchet MS";
  font-size: 2.25rem;
  color: #737373;
  text-decoration: none;
  text-shadow: 1px 1px 1px white;
}
.wrapper footer .tel img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.wrapper footer .main-footer-container {
  height: 285px;
  overflow: hidden;
  background: #cddbdf;
}
.wrapper footer .main-footer-container .main-footer__main {
  display: flex;
  height: 100%;
}
.wrapper footer .main-footer-container .main-footer__main nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
  padding: 10px 0 0 10%;
}
.wrapper footer .main-footer-container .main-footer__main nav div {
  margin: 0 10px;
}
.wrapper footer .main-footer-container .main-footer__main nav div p {
  font-family: "Arial";
  font-size: 12px;
}
.wrapper footer .main-footer-container .main-footer__main nav div ul {
  padding: 15px 0 15px 10px;
}
.wrapper footer .main-footer-container .main-footer__main nav div ul li {
  font-family: "Arial";
  font-size: 12px;
}
.wrapper footer .main-footer-container .main-footer__main nav div ul li a {
  text-decoration: none;
}
.wrapper footer .main-footer-container .main-footer__main nav div ul li a:hover {
  color: gray;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__content {
  font-family: "Arial";
  font-size: 12px;
  padding-top: 10px;
  text-align: justify;
  width: 20%;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__social {
  width: 30%;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__social .footer-social {
  border: 3px solid gray;
  border-radius: 10px;
  width: 240px;
  background: white;
  text-align: center;
  margin: 10px auto;
  padding: 25px 0;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__social .footer-social div a {
  font-family: "Trebuchet MS";
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__social .header-download {
  text-align: center;
  margin: 10px 0;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__social .header-download input {
  font-family: "Trebuchet MS";
  font-size: 14px;
  border: none;
  outline: none;
  background: url('../../images/btn-download_new.jpg');
  height: 42px;
  width: 180px;
  border: 3px solid gray;
  border-radius: 10px;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__social .header-download input:active {
  background: url('../../images/btn-download1.jpg');
  border: 3px solid #333232;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__social .header-download input:hover {
  cursor: pointer;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__social .footer-social-support P {
  text-align: center;
  margin: 15px 0;
}
.wrapper footer .main-footer-container .main-footer__main .main-footer__social .footer-social-support div {
  text-align: center;
}
.wrapper footer .main-footer-copyright {
  background: #cddbdf;
  border-top: 1px solid #3a3a3a;
  height: 105px;
  display: table-cell;
  vertical-align: middle;
}
.wrapper footer .main-footer-copyright div {
  text-align: center;
  margin: 15px 20%;
}
